<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Display Attendance</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- <script>
      var dataArr=[];
      dataArr[0]=myData[0]
      dataArr[1]=myData[1]
      dataArr[2]=myData[2]
    </script> -->
    <h1>Display Attendance</h1>

    <!--  Logic table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sl No</th>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {%for i in range(0, len)%}
          <!-- table rows -->
          <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ myData[i][0] }}</td>
            <td>{{ myData[i][1] }}</td>
            <td>{{ myData[i][2] }}</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>

    <!-- <tr>
          <th scope="row">1</th>
          <td>{{ myData[0][0] }}</td>
          <td>{{ myData[0][1] }}</td>
          <td>{{ myData[0][2] }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{ myData[1][0] }}</td>
          <td>{{ myData[1][1] }}</td>
          <td>{{ myData[1][2] }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2" id="demo"></td>
          <td>@twitter</td>
        </tr> -->
    <!-- <script>
      
      const attend=[]

      var idx=0;
      for (let i = 0; i < myData.length; i++) {
        for (let j = 0; j < myData[i].length; j++) {
          attend.push(chunked[i][j]);
          console.log(attend[idx]);
          idx++;
        }
      }
      document.getElementById("demo").innerHTML = attend[0];

    </script> -->
  </body>
</html>
